*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    height: 70px;
    width: 100%;
    /* background-color: white; */
}

.button-view{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    max-width: 100%;
    /* background-color: green; */
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    margin-right: 30px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 180px;
    /* background-color: azure; */
    
}


.text{
    background-color: #494949;
    height: 30px;
    width: 110px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 7px;
}

#chat{
    margin-right: 3px;
}

.arrows{
    background-color: #494949;
    height: 30px;
    width: 50px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 7px;
}


main{
    /* background-color: bisque; */
    width: 100%;
    height: calc(500vh-80px);
    margin-top: 30px;
    /* margin-bottom: 80px;
    padding-bottom: 80px; */
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    /* margin: 0 30px; */
}

.web-square{
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    /* background-color: white; */
    position: relative;
}

img{
    width: 100%;
    margin-right: 0 10px;
}

.info-box{
    display: flex;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    background-color: #68727e;
    color: white;
    opacity: 0.8;
}


footer{
    background-color: #222222;
    height: 80px;
    max-width: 100%;
    
}


.footer-container{
    /* background-color: white; */
    background-color: #222222;
    height: 80px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

}

.left-command{
    color: white;
    margin-left: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span{
    font-size: 30px;
}

footer div{
    font-size: 10px;
}


.center-command{
    color: white;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#shsc{
    color: green;
}

.right-command{
    color: red;
    margin-left: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-meeting{
    color: red;
    background-color: #4a4a4a;
    height: 30px;
    width: 110px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 7px;
}
